.body_backgorund {
  background-image: url("bg1.jpg");
  background-position: center;
  background-size: cover;
}
h1
{
	color: rgb(153, 0, 255); 
	font-size: 40px;
}

#myCanvas
{
	border-width:10px;
	background-color: rgb(243, 245, 141); 
	border-style:ridge;
}
span
{
	font-size: 20px;
}
